Repository liv-daliberti/maxent-grpo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, pylint

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - check
  - .

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - --disable=import-error

Record E69 equation route failure and MATH abstention
  paper/preregistration/e69_math_route_gate1_equation_v3_failure_20260728.md
  var/artifacts/e69-equation-g1-30159313.err
  var/artifacts/e69-equation-g1-30159313.out
  var/artifacts/e69_math_route_gate1_base_equation_v3/automatic_summary.json
  var/artifacts/e69_math_route_gate1_base_equation_v3/manual_review_queue.jsonl
  var/artifacts/e69_math_route_gate1_base_equation_v3/sample_archive.jsonl
Due: none

Add compute-matched controls for E69 screen
  ops/run_experiment.sh
  ops/submit_countdown_comparative.sh
  ops/train.sh
  src/oat_drgrpo/args.py
  src/oat_drgrpo/learner/grpo.py
  src/oat_drgrpo/learner/run.py
  tests/test_args.py
  tests/test_e69_verified_route_successor_contract.py
  tests/test_verified_route_library.py
Due: black, ruff, pylint

Freeze E69 compute-matched Gate 2 screen
  ops/route_successor/audit_e69_gate2_screen.py
  ops/route_successor/launch_e69_gate2_screen.sh
  ops/submit_countdown_comparative.sh
  paper/preregistration/e69_gate2_compute_matched_screen_20260728.md
  src/oat_drgrpo/learner/grpo.py
  src/oat_drgrpo/verified_route_library.py
  tests/test_e69_verified_route_successor_contract.py
  tests/test_verified_route_library.py
Due: black, ruff, pylint

Record E69 Gate 2 launch provenance
  ops/route_successor/audit_e69_gate2_screen.py
  paper/results/e69_gate2_compute_matched_screen_live.md
  tests/test_e69_verified_route_successor_contract.py
  var/artifacts/cde69_gate2_compute_matched_05b_6pass_comparative_jobs.tsv
  var/artifacts/e69_gate2_compute_matched_screen_audit_latest.json
  var/artifacts/e69_gate2_compute_matched_screen_identity.json
  var/artifacts/gce69_gate2_compute_matched_05b_6pass_comparative_jobs.tsv
  var/artifacts/mde69_gate2_compute_matched_05b_6pass_comparative_jobs.tsv
  var/artifacts/mie69_gate2_compute_matched_05b_6pass_comparative_jobs.tsv
  var/artifacts/pye69_gate2_compute_matched_05b_6pass_comparative_jobs.tsv
Due: black, ruff

Freeze E69 Gate 3 confirmatory design
  ops/route_successor/audit_e69_gate3_confirmatory.py
  ops/route_successor/launch_e69_gate3_confirmatory.sh
  paper/preregistration/e69_gate3_confirmatory_execution_20260728.md
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Freeze one-time E69 MATH-500 transfer
  ops/route_successor/analyze_e69_gate4_math500.py
  ops/route_successor/audit_e69_gate4_checkpoints.py
  ops/route_successor/eval_e69_math500_checkpoint.py
  ops/route_successor/launch_e69_gate4_math500.sh
  ops/route_successor/plot_e69_five_area_panel.py
  ops/slurm/e69_math500_eval_node302.slurm
  paper/preregistration/e69_gate4_math500_one_time_transfer_20260728.md
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Freeze E69 MATH endpoint startup repair
  ops/route_successor/repair_e69_gate2_math_endpoint.sh
  paper/preregistration/e69_gate2_math_endpoint_startup_repair_20260728.md
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Fix E69 repair failure-log binding
  ops/route_successor/repair_e69_gate2_math_endpoint.sh
Due: none

Bind E69 Gate 2 endpoint replacement
  ops/route_successor/audit_e69_gate2_screen.py
  ops/route_successor/launch_e69_gate3_confirmatory.sh
  paper/results/e69_gate2_compute_matched_screen_live.md
  tests/test_e69_verified_route_successor_contract.py
  var/artifacts/e69_gate2_compute_matched_screen_audit_latest.json
  var/artifacts/e69_gate2_math_endpoint_repair_identity.json
  var/artifacts/mde69_gate2_math_endpoint_repair_comparative_jobs.tsv
Due: black, ruff

Freeze E69 pending-job placement repair
  ops/route_successor/audit_e69_gate2_screen.py
  ops/route_successor/repair_e69_gate2_pending_placements.sh
  paper/preregistration/e69_gate2_pending_placement_repair_20260728.md
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Record E69 Gate 2 placement replacements
  paper/results/e69_gate2_compute_matched_screen_live.md
  var/artifacts/cde69_gate2_placement_repair_comparative_jobs.tsv
  var/artifacts/e69_gate2_compute_matched_screen_audit_latest.json
  var/artifacts/e69_gate2_pending_placement_repair_identity.json
  var/artifacts/gce69_gate2_placement_repair_comparative_jobs.tsv
  var/artifacts/pye69_gate2_placement_repair_comparative_jobs.tsv
Due: none

Inherit E69 MATH endpoint repair in Gate 3
  ops/route_successor/launch_e69_gate3_confirmatory.sh
  paper/preregistration/e69_gate3_confirmatory_execution_20260728.md
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Inherit matched Gate 2 placement in Gate 3
  ops/route_successor/launch_e69_gate3_confirmatory.sh
  paper/preregistration/e69_gate3_confirmatory_execution_20260728.md
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Make Gate 4 completed outputs requeue-idempotent
  ops/route_successor/eval_e69_math500_checkpoint.py
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Broaden E69 A5000 placement pool
  ops/route_successor/launch_e69_gate3_confirmatory.sh
  paper/preregistration/e69_gate2_python_successor_a5000_pool_amendment_20260728.md
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Record Gate 2 Python placement repair
  var/artifacts/e69_gate2_python_successor_a5000_pool_amendment.json
Due: none

Repair preempted Gate 2 Graph cohort
  ops/route_successor/audit_e69_gate2_screen.py
  ops/route_successor/launch_e69_gate3_confirmatory.sh
  ops/route_successor/repair_e69_gate2_pending_placements.sh
  paper/preregistration/e69_gate2_graph_a5000_preemption_repair_20260728.md
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Record Gate 2 Graph replacement cohort
  var/artifacts/e69_gate2_graph_a5000_preemption_repair_identity.json
  var/artifacts/gce69_gate2_graph_a5000_repair_comparative_jobs.tsv
Due: none

Automate fail-closed E69 Gate 2 handoff
  ops/route_successor/advance_e69_gate2_to_gate3.sh
  ops/slurm/e69_gate2_to_gate3.slurm
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Automate E69 confirmatory handoffs
  ops/route_successor/advance_e69_gate3_to_gate4.sh
  ops/route_successor/finalize_e69_gate4.sh
  ops/route_successor/launch_e69_gate3_confirmatory.sh
  ops/route_successor/launch_e69_gate4_math500.sh
  ops/slurm/e69_gate3_to_gate4.slurm
  ops/slurm/e69_gate4_finalize.slurm
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Correct E69 route-reuse observation
  ops/route_successor/advance_e69_gate2_to_gate3.sh
  ops/route_successor/audit_e69_gate2_screen.py
  ops/route_successor/monitor_e69_gate2_route_snapshots.sh
  ops/route_successor/snapshot_e69_gate2_route_replay.py
  ops/slurm/e69_gate2_route_observer.slurm
  paper/preregistration/e69_gate2_route_temporal_observer_amendment_20260728.md
  tests/test_e69_verified_route_successor_contract.py
  var/artifacts/e69_gate2_route_temporal_snapshots.json
Due: black, ruff

Record E69 route observer job
  var/artifacts/e69_gate2_route_observer_job.json
Due: none

Capture E69 early route temporal checkpoints
  var/artifacts/e69_gate2_route_temporal_snapshots.json
Due: none

Bind E69 analysis surfaces by hash
  ops/route_successor/advance_e69_gate3_to_gate4.sh
  ops/route_successor/finalize_e69_gate4.sh
  ops/route_successor/launch_e69_gate3_confirmatory.sh
  tests/test_e69_verified_route_successor_contract.py
Due: black, ruff

Document E69 paper campaign ladder
  paper/README.md
Due: none

Exclude E69 precheckpoint requeue prefixes
  ops/route_successor/audit_e69_gate2_screen.py
  paper/preregistration/e69_gate2_precheckpoint_requeue_attempt_repair_20260728.md
  tests/test_e69_verified_route_successor_contract.py
  var/artifacts/e69_gate2_precheckpoint_requeue_attempt_repair_identity.json
Due: black, ruff

Launch E73 Falcon3-1B cross-family replication
  ops/exp_scaling/launch_e73_falcon3_1b_cross_family.sh
  ops/run_experiment.sh
  paper/preregistration/e73_falcon3_1b_cross_family_replication_20260731.md
  tests/test_falcon_prompt_surface.py
Due: black, ruff

E73 Amendment 1: non-binding Python response budget
  ops/exp_scaling/amend_e73_python_response_budget.sh
  ops/exp_scaling/launch_e73_falcon3_1b_cross_family.sh
  ops/exp_scaling/status_e72.py
  paper/preregistration/e73_falcon3_1b_cross_family_replication_20260731.md
Due: black, ruff

E73 Amendment 2: non-binding MathIR response budget
  ops/check_paper_figure1_contract.py
  ops/exp_scaling/amend_e73_response_budget.sh
  ops/plot_paper_collapse_toy.py
  paper/figures/modecollapse_story.pdf
  paper/figures/modecollapse_story.png
  paper/main.pdf
  paper/main.tex
  paper/preregistration/e73_falcon3_1b_cross_family_replication_20260731.md
Due: black, ruff

E73 Amendment 3: pin GPU model per domain, not per cohort
  ops/exp_scaling/amend_e73_response_budget.sh
  ops/exp_scaling/launch_e73_falcon3_1b_cross_family.sh
  paper/preregistration/e73_falcon3_1b_cross_family_replication_20260731.md
Due: none

E73 Amendment 3 revision: run MathIR on A5000
  ops/check_paper_figure1_contract.py
  ops/exp_scaling/amend_e73_response_budget.sh
  ops/exp_scaling/launch_e73_falcon3_1b_cross_family.sh
  ops/plot_paper_modebench_examples.py
  paper/Makefile
  paper/README.md
  paper/figures/modebench_examples.pdf
  paper/figures/modebench_examples.png
  paper/figures/modebench_pantry_example.pdf
  paper/figures/modebench_pantry_example.png
  paper/main.pdf
  paper/main.tex
Due: black, ruff

Prepare E73 MathIR separated-support actuator ablation
  ops/exp_scaling/amend_e73_response_budget.sh
  ops/exp_scaling/launch_e73_falcon_mathir_actuator_ablation.sh
Due: none

Make the ModeBench examples figure readable at print size
  docs/e72_b3a_appendix_draft.tex
  ops/check_paper_figure1_contract.py
  ops/exp_scaling/aggregate_e72_b3a.py
  ops/exp_scaling/launch_e72_b3a_replay_ablation.py
  ops/exp_scaling/plot_e72_decoding_frontier.py
  ops/exp_scaling/render_e72_b3a_table.py
  ops/exp_scaling/status_e72.py
  ops/plot_paper_collapse_toy.py
  ops/plot_paper_modebench_examples.py
  ops/plot_paper_xdr_mechanism.py
  ops/run_experiment.sh
  paper/figures/e72_b3a_table_body.tex
  paper/figures/e72_decoding_frontier.pdf
  paper/figures/modebench_examples.pdf
  paper/figures/modebench_examples.png
  paper/figures/modecollapse_story.pdf
  paper/figures/modecollapse_story.png
  paper/figures/xdr_mechanism.pdf
  paper/figures/xdr_mechanism.png
  paper/main.pdf
  paper/main.tex
  paper/results/e72_b3a_interim.md
  paper/results/e72_b3a_terminal.md
  tests/test_e72_b3a_replay_ablation.py
Due: black, ruff

Record the second-model-family replication in the manuscript
  ops/check_paper_figure1_contract.py
  ops/exp_scaling/launch_e72_b3a_replay_ablation.py
  paper/main.pdf
  paper/main.tex
  tests/test_e72_b3a_replay_ablation.py
Due: black, ruff

E73 Amendment 4: pin placement per seed pair, not per domain
  ops/check_paper_figure1_contract.py
  ops/exp_scaling/launch_e72_b3a_replay_ablation.py
  ops/exp_scaling/plot_e72_b3a_curves.py
  ops/exp_scaling/render_e72_b3a_table.py
  ops/exp_scaling/status_e72.py
  paper/figures/e72_b3a_curves.pdf
  paper/figures/e72_b3a_table_body.tex
  paper/main.pdf
  paper/main.tex
  paper/preregistration/e72_b1a_confirmation_05b_20260801.md
  paper/preregistration/e73_falcon3_1b_cross_family_replication_20260731.md
  paper/results/e72_b3a_terminal.md
Due: black, ruff

Drop 21 patch backups from the tree and ignore them
  ops/audit_point_maze_algorithm_repair_data_v3.py.orig
  ops/audit_point_maze_algorithm_repair_pair_v3.py.orig
  ops/audit_point_maze_stage_b_05b_12pass.py.orig
  ops/check_paper_figure1_contract.py.orig
  ops/curate_pantry_plan_source.py.orig
  ops/exp_scaling/audit_e70_full80_campaign.py.orig
  ops/exp_scaling/plot_e70_clean_05b_wide_live.py.orig
  ops/exp_scaling/watch_e70_clean_full80.sh.orig
  ops/make_point_maze_algorithm_repair_data_v3.py.orig
  ops/make_point_maze_algorithm_repair_data_v4.py.orig
  ops/plot_paper_modebench_examples.py.orig
  ops/plot_paper_modecollapse.py.orig
  ops/slurm/audit_point_maze_algorithm_repair_pair_v3.slurm.orig
  paper/Makefile.orig
  paper/README.md.orig
  paper/main.tex.orig
  tests/test_e70_complete_square_report_v7.py.orig
Due: none

Rename the ICLR manuscript to There's More Than One Way
  paper/main.tex
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: ^src/ and \.py$
