Repository liv-daliberti/maxent-grpo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, pylint

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - check
  - .

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - --disable=import-error

Use output MaxEnt reward shaping
  docs/drgrpo_vs_drx.md
  ops/run_oat_zero_exact_drx_1p5b_upstream.sh
  ops/slurm/train_understand_r1_zero_qwen2p5_math_1p5b_r1_readme_flash_exact_drx_node302.slurm
  src/oat_drgrpo/learner/drx.py
  src/oat_drgrpo/listwise.py
  src/oat_drgrpo/logging_utils.py
  src/oat_drgrpo/semantic_utility.py
  src/oat_drgrpo/stats_utils.py
  tests/test_drx_math.py
Due: black, ruff, pylint

Fix eval leakage, harden comparative fairness, and align paper with code
  ops/analyze_countdown_comparative.py
  ops/make_exact_answer_mode_data.py
  ops/make_exact_countdown_mode_data.py
  ops/plot_exploration_sidecar.py
  ops/run_oat_zero_tiny_probe.sh
  ops/submit_countdown_comparative.sh
  paper/example_paper.bib
  paper/main.pdf
  paper/main.tex
  src/oat_drgrpo/learner/grpo.py
  src/oat_drgrpo/learner/run.py
  src/oat_drgrpo/xdr.py
  tests/test_xdr_weights.py
Due: black, ruff, pylint

Pre-register tau=0.05 as 3B primary; snapshot 0.5B pooled regression results
  paper/figures/exploration_sidecar.pdf
  paper/figures/exploration_sidecar.png
  paper/main.pdf
  paper/main.tex
Due: none

Add 0.5B results section, abstract findings, and real exploration-sidecar figure
  ops/plot_exploration_sidecar.py
  paper/figures/exploration_sidecar.pdf
  paper/figures/exploration_sidecar.png
  paper/main.pdf
  paper/main.tex
Due: black, ruff

Add explicit Dr.GRPO baseline row to the results table
  paper/main.pdf
  paper/main.tex
Due: none

Move threats to appendix; add per-domain descriptive accuracy table
  paper/main.pdf
  paper/main.tex
Due: none

Add conditional solution-diversity table: baseline converges to one mode, xDr retains several
  paper/main.pdf
  paper/main.tex
Due: none

Add distinct@8 column to descriptive table; cross-reference the three diversity views
  paper/main.pdf
  paper/main.tex
Due: none

Fix descriptive table column spec for distinct@8 columns
  paper/main.pdf
  paper/main.tex
Due: none

Add mode-adaptive tempering (tau_x = tau0/log(1+kappa_x)) and fine-tau sweep support
  ops/run_oat_zero_exact_1p5b_upstream.sh
  ops/run_oat_zero_tiny_probe.sh
  ops/submit_countdown_comparative.sh
  src/oat_drgrpo/args.py
  src/oat_drgrpo/learner/grpo.py
  src/oat_drgrpo/xdr.py
  tests/test_xdr_weights.py
Due: black, ruff, pylint

Add 3B pre-registered replication results; swap FusedAdam JIT for torch fused AdamW
  ops/repo_env.sh
  paper/main.pdf
  paper/main.tex
  src/oat_drgrpo/fused_adam_shim.py
  src/oat_drgrpo/train_zero_math.py
Due: black, ruff, pylint

Add 3B regression JSONs to paper/results (referenced from Section 7)
  paper/results/cd3b_regression.json
  paper/results/gc3b_regression.json
  paper/results/gc3b_unique_regression.json
  paper/results/pooled_3b_two_domain_multi_answer.json
Due: none

Track the 0.5B pooled regression JSON referenced from Table 4
  paper/results/cdcomp4_stable_gccomp1_stable_comparative_regression.json
Due: none

Pre-register mixed-pool exploration-floor experiment (primary: hard-stratum pass@8)
  paper/preregistration/mix3b_exploration_floor.md
Due: none

Add fine-tau dose-response and mode-adaptive tempering to Section 6
  ops/plot_dose_response.py
  paper/figures/dose_response.pdf
  paper/main.pdf
  paper/main.tex
  paper/results/cdcomp4_countdown_only_regression.json
  paper/results/cdfine_regression.json
Due: black, ruff

Reference the mix3b pre-registration from the Section 7 probe paragraph
  paper/main.pdf
  paper/main.tex
Due: none

Extend dose-response to tau=0.001: plateau at winner-take-all, no collapse
  ops/plot_dose_response.py
  paper/figures/dose_response.pdf
  paper/main.pdf
  paper/main.tex
  paper/results/cdfine_regression.json
Due: black, ruff

Rewrite pre-results sections and add Discussion
  paper/main.pdf
  paper/main.tex
Due: none

Support xdr_tau=0: exact argmax-set aggregation limit
  src/oat_drgrpo/args.py
  src/oat_drgrpo/xdr.py
  tests/test_xdr_weights.py
Due: black, ruff, pylint

Report the pre-registered mixed-pool floor test: null primary, guardrail passes
  paper/main.pdf
  paper/main.tex
  paper/results/calmix_easy_regression.json
  paper/results/calmix_hard_regression.json
Due: none

Add the 3B mechanism sidecar to Section 7
  paper/figures/exploration_sidecar_3b.pdf
  paper/main.pdf
  paper/main.tex
Due: none

Make Figure 1 the two-scale mechanism figure (0.5B top, 3B bottom)
  ops/plot_exploration_sidecar.py
  paper/figures/exploration_sidecar.pdf
  paper/figures/exploration_sidecar_3b.pdf
  paper/main.pdf
  paper/main.tex
Due: black, ruff

Move the mechanism sidecar into Section 6 so it is Figure 1
  paper/main.pdf
  paper/main.tex
Due: none

Dose-response endpoint: exact tau=0 argmax-set arm holds the plateau
  ops/plot_dose_response.py
  paper/figures/dose_response.pdf
  paper/main.pdf
  paper/main.tex
  paper/results/cdfine_regression.json
Due: black, ruff

Restructure Results into one section with 0.5B/3B subsections; reconcile
  paper/main.pdf
  paper/main.tex
Due: none

Complete the two-scale dose-response: 3B graph-coloring sweep in Figure 1
  ops/plot_dose_response.py
  paper/figures/dose_response.pdf
  paper/figures/exploration_sidecar.png
  paper/main.pdf
  paper/main.tex
  paper/results/gc3b_regression.json
Due: black, ruff

Repair long-run resume and E64 audit classification
  ops/exp_scaling/audit_e64_math500_realism_matched.py
  paper/figures/e61r1_e58_vs_grpo_05b_12ep_live.pdf
  paper/figures/e64_math500_realism_05b_12ep_live.pdf
  paper/figures/e64_math500_realism_05b_12ep_live.png
  paper/preregistration/e64_math500_audit_classification_amendment_20260728.md
  src/oat_drgrpo/learner/grpo.py
  src/oat_drgrpo/replicated_group.py
  tests/test_e64_math500_realism_contract.py
  tests/test_replicated_group.py
  var/artifacts/e64_math500_audit_classification_amendment.json
Due: black, ruff, pylint

Preregister paired E66 E68 MathIR recovery
  ops/exp_scaling/recover_e66_e68_mathir_seed_overflow.py
  paper/preregistration/e66_e68_mathir_seed_overflow_recovery_amendment_20260728.md
  tests/test_e66_e68_mathir_seed_overflow_recovery.py
Due: black, ruff

Bind E66 E68 MathIR recovery lineage
  ops/exp_scaling/audit_e66_same_plumbing_actuator_ablation.py
  ops/exp_scaling/audit_e68_separated_support_actuator_ablation.py
  ops/exp_scaling/e66_e68_mathir_seed_overflow_contract.py
  tests/test_e66_e68_mathir_seed_overflow_recovery.py
  var/artifacts/e66_e68_mathir_seed_overflow_recovery.json
  var/artifacts/e66_e68_mathir_seed_overflow_recovery_jobs.tsv
Due: black, ruff

Record historical checkpoint storage cleanup
  var/artifacts/storage_cleanup_20260728.json
Due: none

establish verified route contracts and sealed math dev
  docs/e68_research_restart_plan.md
  ops/route_successor/audit_e69_mathir_routes.py
  ops/route_successor/materialize_e69_math12k_route_dev.py
  paper/preregistration/e69_verified_route_successor_protocol_20260728.md
  src/oat_drgrpo/actor.py
  src/oat_drgrpo/args.py
  src/oat_drgrpo/math_grader.py
  src/oat_drgrpo/math_route.py
  src/oat_drgrpo/mathir.py
  src/oat_drgrpo/python_modebench.py
  src/oat_drgrpo/templates.py
  tests/test_e69_math12k_route_dev_materializer.py
  tests/test_math_route.py
  tests/test_math_route_template.py
  tests/test_mathir_action_menu.py
  tests/test_modebench_grader.py
  tests/test_python_modebench.py
  var/artifacts/e69_mathir_route_offline_audit.json
  var/data/math12k_384_route_dev128_v1/MATERIALIZATION_MANIFEST.json
Due: black, ruff, pylint

Close terminal E66 E68 MathIR recovery
  docs/e68_research_restart_plan.md
  ops/exp_scaling/close_e66_e68_mathir_recovery.py
  paper/figures/e61r1_e58_vs_grpo_05b_12ep_live.pdf
  paper/figures/e61r1_e58_vs_grpo_05b_12ep_live.png
  paper/figures/e68_e58_vs_grpo_05b_12ep_live.png
  var/artifacts/e66_e68_mathir_recovery_sacct_20260728.tsv
  var/artifacts/e66_e68_mathir_terminal_recovery_summary.json
  var/artifacts/e66_same_plumbing_actuator_ablation_audit_latest.json
  var/artifacts/e68_separated_support_actuator_ablation_audit_latest.json
  var/artifacts/mie66_same_plumbing_control_05b_12ep_scaling_curve.json
  var/artifacts/mie68_separated_support_actuator_05b_12ep_scaling_curve.json
Due: black, ruff

Implement checkpointed verified route successor
  ops/run_experiment.sh
  ops/train.sh
  paper/preregistration/e69_verified_route_successor_protocol_20260728.md
  src/oat_drgrpo/args.py
  src/oat_drgrpo/learner/grpo.py
  src/oat_drgrpo/learner/init.py
  src/oat_drgrpo/learner/run.py
  src/oat_drgrpo/math_grader.py
  src/oat_drgrpo/verified_route_library.py
  tests/test_args.py
  tests/test_e69_verified_route_successor_contract.py
  tests/test_math_route.py
  tests/test_verified_route_library.py
Due: black, ruff, pylint

Freeze E69 math route coverage gate
  ops/route_successor/launch_e69_math_route_gate1.sh
  ops/route_successor/sample_e69_math_route_gate1.py
  ops/slurm/e69_math_route_gate1_node302.slurm
  paper/preregistration/e69_verified_route_successor_protocol_20260728.md
  tests/test_e69_math_route_gate1.py
Due: black, ruff

Record failed E69 MATH route coverage gate
  paper/preregistration/e69_math_route_gate1_v1_failure_20260728.md
  var/artifacts/e69-route-g1-30158805.err
  var/artifacts/e69-route-g1-30158805.out
  var/artifacts/e69_math_route_gate1_base_v1/automatic_summary.json
  var/artifacts/e69_math_route_gate1_base_v1/manual_review_queue.jsonl
  var/artifacts/e69_math_route_gate1_base_v1/sample_archive.jsonl
Due: none

Revise E69 MATH route gate to compact RPN
  ops/route_successor/audit_e69_math_route_rpn_v2_prompts.py
  ops/route_successor/launch_e69_math_route_gate1.sh
  ops/route_successor/materialize_e69_math12k_route_dev.py
  ops/route_successor/sample_e69_math_route_gate1.py
  ops/slurm/e69_math_route_gate1_node302.slurm
  paper/preregistration/e69_math_route_gate1_rpn_v2_amendment_20260728.md
  src/oat_drgrpo/math_route.py
  src/oat_drgrpo/templates.py
  tests/test_e69_math_route_gate1.py
  tests/test_e69_math_route_rpn_v2_prompt_manifest.py
  tests/test_math_route.py
  tests/test_math_route_template.py
  var/data/math12k_384_route_dev128_v1/RPN_V2_PROMPT_MANIFEST.json
Due: black, ruff, pylint

Record failed E69 RPN route coverage gate
  paper/preregistration/e69_math_route_gate1_rpn_v2_failure_20260728.md
  var/artifacts/e69-route-g1-30159041.err
  var/artifacts/e69-route-g1-30159041.out
  var/artifacts/e69_math_route_gate1_base_rpn_v2/automatic_summary.json
  var/artifacts/e69_math_route_gate1_base_rpn_v2/manual_review_queue.jsonl
  var/artifacts/e69_math_route_gate1_base_rpn_v2/sample_archive.jsonl
Due: none

Freeze E69 natural equation route gate
  ops/route_successor/audit_e69_math_route_rpn_v2_prompts.py
  ops/route_successor/launch_e69_math_equation_gate1.sh
  ops/route_successor/sample_e69_math_route_gate1.py
  ops/slurm/e69_math_equation_gate1_node302.slurm
  paper/preregistration/e69_math_route_gate1_equation_v3_amendment_20260728.md
  src/oat_drgrpo/math_equation_route.py
  tests/test_e69_math_equation_route_gate1.py
  tests/test_math_equation_route.py
  var/data/math12k_384_route_dev128_v1/EQUATION_V3_PROMPT_MANIFEST.json
Due: black, ruff, pylint

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: ^src/ and \.py$
