Repository liv-daliberti/maxent-grpo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, pylint

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - check
  - .

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - --disable=import-error

changes
  .gitignore
Due: none

Changes
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
Due: none

changes
  docs/api.rst
  src/maxent_grpo/core/hub.py
  src/maxent_grpo/core/model.py
  src/maxent_grpo/core/stubs.py
  src/maxent_grpo/patches/vllm.py
  src/maxent_grpo/pipelines/math_inference.py
  src/maxent_grpo/pipelines/training/baseline.py
  src/maxent_grpo/pipelines/training/loop_common.py
  src/maxent_grpo/pipelines/training/maxent.py
  src/maxent_grpo/telemetry/trl_logging.py
  src/maxent_grpo/training/__init__.py
  src/maxent_grpo/training/controller_objective.py
  src/maxent_grpo/training/controller_optimizer.py
  src/maxent_grpo/training/data.py
  src/maxent_grpo/training/loop.py
  src/maxent_grpo/training/metrics.py
  src/maxent_grpo/training/pipeline.py
  src/maxent_grpo/training/rewards.py
  src/maxent_grpo/training/rollout/helpers.py
  src/maxent_grpo/training/rollout/local.py
  src/maxent_grpo/training/rollout/vllm_adapter.py
  src/maxent_grpo/training/runtime/deepspeed.py
  src/maxent_grpo/training/scoring.py
  src/maxent_grpo/training/state.py
  src/maxent_grpo/training/zero_utils.py
  src/maxent_grpo/utils/deps_guard.py
  src/maxent_grpo/utils/stubs.py
  tests/core/test_core_hub_model.py
  tests/core/test_core_model.py
  tests/core/test_core_model_additional.py
  tests/core/test_core_stubs.py
  tests/core/test_model_utils.py
  tests/core/test_utils_stubs.py
  tests/helpers/__init__.py
  tests/pipelines/test_validation.py
  tests/training/test_training_init.py
Due: black, ruff, pylint

changes
  docs/conf.py
  pyrightconfig.json
  src/maxent_grpo/config/grpo.py
  src/maxent_grpo/generation/vllm.py
  src/maxent_grpo/patches/vllm.py
  src/maxent_grpo/pipelines/training/baseline.py
  src/maxent_grpo/pipelines/training/loop_common.py
  src/maxent_grpo/rewards/__init__.py
  src/maxent_grpo/rewards/basic.py
  src/maxent_grpo/telemetry/trl_logging.py
  src/maxent_grpo/training/metrics.py
  src/maxent_grpo/training/optim.py
  src/maxent_grpo/training/pipeline.py
  src/maxent_grpo/training/rollout/helpers.py
  src/maxent_grpo/training/rollout/vllm_adapter.py
  src/maxent_grpo/training/scoring.py
  src/maxent_grpo/training/types/runtime.py
  src/maxent_grpo/utils/imports.py
  tests/__init__.py
  typings/accelerate/__init__.pyi
  typings/accelerate/state.pyi
  typings/accelerate/utils.pyi
  typings/trl/__init__.pyi
  typings/trl/extras/__init__.pyi
  typings/trl/extras/vllm_client.pyi
  typings/trl/trainer/__init__.pyi
  typings/trl/trainer/grpo_trainer.pyi
  typings/trl/trainer/utils.pyi
Due: black, ruff, pylint

changes
  docs/conf.py
  docs/index.rst
  src/maxent_grpo/__init__.py
  src/maxent_grpo/cli/hydra_cli.py
  src/maxent_grpo/config/grpo.py
  src/maxent_grpo/core/data.py
  src/maxent_grpo/core/model.py
  src/maxent_grpo/generation/common.py
  src/maxent_grpo/generation/errors.py
  src/maxent_grpo/generation/vllm_requests.py
  src/maxent_grpo/grpo.py
  src/maxent_grpo/infoseed.py
  src/maxent_grpo/maxent_grpo.py
  src/maxent_grpo/patches/vllm.py
  src/maxent_grpo/pipelines/__init__.py
  src/maxent_grpo/pipelines/math_inference.py
  src/maxent_grpo/pipelines/training/baseline.py
  src/maxent_grpo/pipelines/training/maxent.py
  src/maxent_grpo/rewards/basic.py
  src/maxent_grpo/training/data.py
  src/maxent_grpo/training/eval.py
  src/maxent_grpo/training/metrics.py
  src/maxent_grpo/training/optim.py
  src/maxent_grpo/training/pipeline.py
  src/maxent_grpo/training/rewards.py
  src/maxent_grpo/training/runtime/deps.py
  src/maxent_grpo/training/scoring.py
  src/maxent_grpo/training/state.py
  src/maxent_grpo/training/types/__init__.py
  src/maxent_grpo/training/types/rewards.py
  src/maxent_grpo/training/types/runtime.py
  src/maxent_grpo/training/zero_utils.py
  tests/generation/vllm/test_vllm_patch.py
  typings/datasets/__init__.pyi
  typings/deepspeed/__init__.pyi
  typings/deepspeed/zero.pyi
  typings/distilabel/__init__.pyi
  typings/distilabel/pipeline.pyi
Due: black, ruff, pylint

changes
  docs/conf.py
  pyproject.toml
  src/maxent_grpo/core/data.py
  src/maxent_grpo/training/runtime/__init__.py
  src/maxent_grpo/training/types/__init__.py
Due: black, ruff, pylint

changes
  docs/conf.py
  tests/cli/test_cli_hydra_cli.py
  tests/generation/test_run_generation.py
  tests/pipelines/test_training_pipeline_parity.py
  tests/rewards/test_eval_reward_funcs.py
  tests/training/generation/test_training_generation_helpers_wrappers.py
  tests/training/generation/vllm/test_training_generation_vllm_adapter_additional.py
  tests/training/test_controller_resume.py
  tests/training/test_training_metrics_unit.py
  typings/datasets/__init__.pyi
Due: black, ruff

changes
  .github/workflows/smoke.yml
  src/maxent_grpo/config/dataset.py
Due: black, ruff, pylint

changes
  .github/workflows/pytest.yml
  configs/requirements-dev.txt
Due: none

changes
  src/maxent_grpo/core/hub.py
  src/maxent_grpo/training/__init__.py
  typings/torch/__init__.pyi
  typings/torch/_dynamo.pyi
  typings/torch/nn/__init__.pyi
  typings/torch/optim/__init__.pyi
  typings/torch/utils/__init__.pyi
  typings/torch/utils/data/__init__.pyi
  typings/torch/utils/data/distributed/__init__.pyi
  typings/transformers/__init__.pyi
  typings/transformers/modeling_utils.pyi
  typings/transformers/tokenization_utils.pyi
  typings/transformers/tokenization_utils_base.pyi
  typings/transformers/trainer_callback.pyi
  typings/transformers/trainer_utils.pyi
Due: black, ruff, pylint

changes
  configs/recipes/Llama3.1-8B-instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-0.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-0.5B-Instruct/maxent-grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/infoseed/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  configs/recipes/Qwen2.5-7B/grpo/config_math.yaml
  configs/recipes/Qwen2.5-7B/infoseed/config_math.yaml
  configs/recipes/Qwen2.5-7B/maxent-grpo/config_math.yaml
  configs/recipes/accelerate_configs/zero3.yaml
  src/maxent_grpo/core/model.py
  src/maxent_grpo/pipelines/training/loop_common.py
  src/maxent_grpo/training/eval.py
  src/maxent_grpo/training/loop.py
  src/maxent_grpo/training/optim.py
  src/maxent_grpo/training/rollout/vllm_colocate.py
  src/maxent_grpo/training/runtime/prompts.py
  src/maxent_grpo/training/state.py
  src/maxent_grpo/training/types/rewards.py
  var/repo/ops/pull_latest_metrics.py
  var/repo/ops/run_two_trainings.sh
  var/repo/ops/slurm/maxent-grpo.slurm
  var/repo/ops/slurm/train.slurm
Due: black, ruff, pylint

changes working
  src/maxent_grpo/generation/vllm_weight_sync.py
  src/maxent_grpo/rewards/basic.py
  src/maxent_grpo/training/rollout/vllm_adapter.py
  src/maxent_grpo/training/rollout/vllm_colocate.py
  tests/generation/vllm/test_generation_vllm_weight_sync_new.py
  tests/rewards/test_rewards.py
  tests/rewards/test_rewards_module.py
  tests/training/generation/vllm/test_training_generation_vllm_colocate.py
Due: black, ruff, pylint

working version
  README.md
  configs/recipes/Qwen2.5-0.5B-Instruct/maxent-grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math_maxent_hparams.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math_no_vllm.yaml
  docs/architecture.rst
  docs/conf.py
  src/maxent_grpo/config/grpo.py
  src/maxent_grpo/pipelines/math_inference.py
  src/maxent_grpo/rewards/__init__.py
  src/maxent_grpo/rewards/basic.py
  src/maxent_grpo/rewards/maxent.py
  src/maxent_grpo/telemetry/trl_logging.py
  src/maxent_grpo/training/__init__.py
  src/maxent_grpo/training/cli/trl.py
  src/maxent_grpo/training/eval.py
  src/maxent_grpo/training/metrics.py
  src/maxent_grpo/training/pipeline.py
  src/maxent_grpo/training/scoring_common.py
  src/maxent_grpo/training/trl_trainer.py
  src/maxent_grpo/training/types/__init__.py
  src/maxent_grpo/training/types/rewards.py
  src/maxent_grpo/training/weighting/loss.py
  tests/config/test_configs_validation.py
  tests/evaluation/test_info_seed_eval.py
  tests/pipelines/test_pipelines_inference_math.py
  tests/rewards/test_rewards.py
  tests/rewards/test_rewards_maxent_exports.py
  tests/rewards/test_rewards_module.py
  tests/rewards/weighting/test_weighting_loss_devices.py
  tests/training/test_run_training_loss.py
  tests/training/test_trl_trainer_alignment.py
  var/repo/ops/slurm/train_dual_4plus4.slurm
  var/repo/tools/run_maxent_alpha_sweep.sh
Due: black, ruff, pylint

changes
  README.md
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  configs/recipes/hydra/grpo_custom_code_mbpp.yaml
  configs/recipes/hydra/grpo_custom_math.yaml
  configs/recipes/hydra/maxent_entropy_code_mbpp.yaml
  configs/recipes/hydra/maxent_entropy_math.yaml
  configs/recipes/hydra/maxent_listwise_code_mbpp.yaml
  configs/recipes/hydra/maxent_listwise_math.yaml
  docs/getting-started.rst
  docs/guides/training.rst
  ops/run_dual_4plus4_single_node.sh
  ops/run_experiment_triplet_single_node.sh
  ops/slurm/train_dual_4plus4.slurm
  src/maxent_grpo/config/grpo.py
  src/maxent_grpo/training/telemetry/trl_logging.py
  src/maxent_grpo/training/trainer_hooks.py
  src/maxent_grpo/training/trl_trainer.py
  tests/training/runtime/ops/test_ops_slurm_train.py
  tests/training/test_trl_trainer_alignment.py
  tools/monitor_triplet_group.py
Due: black, ruff, pylint

changes
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math_stable.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math_stable.yaml
  configs/recipes/hydra/grpo_custom_math.yaml
  configs/recipes/hydra/grpo_custom_math_stable.yaml
  configs/recipes/hydra/maxent_entropy_math_stable.yaml
  configs/recipes/hydra/maxent_listwise_math_stable.yaml
  configs/recipes/hydra/seed_grpo_math.yaml
  configs/recipes/hydra/seed_grpo_math_stable.yaml
  docs/getting-started.rst
  docs/guides/training.rst
  docs/index.rst
  docs/methods.rst
  docs/recipes.rst
  ops/run_dual_4plus4_single_node.sh
  ops/run_experiment_quartet_single_node.sh
  ops/slurm/train_dual_4plus4.slurm
  src/maxent_grpo/cli/config_validation.py
  src/maxent_grpo/config/grpo.py
  src/maxent_grpo/methods.py
  src/maxent_grpo/rewards/__init__.py
  src/maxent_grpo/rewards/basic.py
  src/maxent_grpo/training/baseline.py
  src/maxent_grpo/training/metrics.py
  src/maxent_grpo/training/pipeline.py
  src/maxent_grpo/training/rewards.py
  src/maxent_grpo/training/runtime/logging.py
  src/maxent_grpo/training/trl_trainer.py
  src/maxent_grpo/training/types/logging.py
  src/maxent_grpo/training/types/rewards.py
  tests/cli/test_cli_config_validation.py
  tests/config/test_experiment_presets.py
  tests/config/test_methods.py
  tests/rewards/test_rewards_basic_extra.py
  tests/rewards/test_rewards_registry.py
  tests/rewards/test_training_rewards_helpers.py
  tests/training/runtime/logging/test_runtime_logging.py
  tests/training/runtime/logging/test_training_runtime_logging.py
  tests/training/runtime/ops/test_ops_slurm_train.py
  tests/training/test_trl_trainer_alignment.py
Due: black, ruff, pylint

Vendor understand-r1-zero into main repo
  .gitignore
  understand-r1-zero/.gitignore
  understand-r1-zero/LICENSE.txt
  understand-r1-zero/Makefile
  understand-r1-zero/README.md
  understand-r1-zero/analysis/answering_ability.py
  understand-r1-zero/analysis/keyword_count.py
  understand-r1-zero/analysis/sr_detection.py
  understand-r1-zero/assets/benchmark.png
  understand-r1-zero/assets/benchmark_table.png
  understand-r1-zero/assets/deepseek-base-aha.png
  understand-r1-zero/assets/drgrpo.png
  understand-r1-zero/assets/llama-r1-zero.png
  understand-r1-zero/assets/qwen-math-base-scores.png
  understand-r1-zero/assets/template-data-duet.png
  understand-r1-zero/deploy_dpsk/serving.sh
  understand-r1-zero/evaluate_model.py
  understand-r1-zero/examples/llama3.2-3b-numinaqa.sh
  understand-r1-zero/examples/qwen2.5-7b.sh
  understand-r1-zero/examples/qwen2.5-math-1.5b.sh
  understand-r1-zero/examples/qwen2.5-math-7b.sh
  understand-r1-zero/pyproject.toml
  understand-r1-zero/train_zero_math.py
  understand-r1-zero/understand-r1-zero.pdf
  understand-r1-zero/understand_r1_zero/__about__.py
  understand-r1-zero/understand_r1_zero/__init__.py
  understand-r1-zero/understand_r1_zero/math_grader.py
Due: black, ruff

Changes
  oat_zero_ext/listwise.py
  ops/run_oat_zero_explorer_1p5b_upstream.sh
  tests/training/runtime/ops/test_ops_slurm_train.py
  tests/training/test_oat_zero_listwise.py
  understand-r1-zero/train_zero_math.py
Due: black, ruff

Refine exact DrX training and document environment setup
  README.md
  ops/run_oat_zero_exact_1p5b_upstream.sh
  ops/run_oat_zero_explorer_1p5b_upstream.sh
  src/oat_drgrpo/train_zero_math.py
Due: black, ruff, pylint

Changes
  ops/run_oat_zero_exact_1p5b_upstream.sh
  ops/run_oat_zero_explorer_1p5b_upstream.sh
  src/oat_drgrpo/listwise.py
  src/oat_drgrpo/train_zero_math.py
Due: black, ruff, pylint

Save selective safe maxent work
  ops/inspect_maxent_acceptance.py
  ops/run_oat_zero_exact_1p5b_upstream.sh
  ops/run_oat_zero_explorer_1p5b_upstream.sh
  ops/slurm/test_understand_r1_zero_qwen2p5_math_1p5b_r1_readme_flash_a6000_1h.slurm
  ops/slurm/train_understand_r1_zero_qwen2p5_math_1p5b_r1_readme_flash_a6000_3seed_5epoch.slurm
  ops/upload_all_drgrpo_seeds_to_hf.py
  ops/upload_drgrpo_seed_run_to_hf.py
  src/oat_drgrpo/listwise.py
  src/oat_drgrpo/math_grader.py
  src/oat_drgrpo/semantic_features.py
  src/oat_drgrpo/train_zero_math.py
  tests/test_semantic_features.py
  tests/test_semantic_mode_weights.py
Due: black, ruff, pylint

Add verified distinct-path maxent bonus
  ops/run_oat_zero_exact_1p5b_upstream.sh
  ops/run_oat_zero_explorer_1p5b_upstream.sh
  src/oat_drgrpo/listwise.py
  src/oat_drgrpo/train_zero_math.py
  tests/test_semantic_mode_weights.py
Due: black, ruff, pylint

Disable verified bonus by default and add fuzzy signature clustering
  ops/run_oat_zero_exact_1p5b_upstream.sh
  ops/run_oat_zero_explorer_1p5b_upstream.sh
  src/oat_drgrpo/listwise.py
  src/oat_drgrpo/train_zero_math.py
  tests/test_semantic_mode_weights.py
Due: black, ruff, pylint

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: ^src/ and \.py$
