Repository liv-daliberti/maxent-grpo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        args: ["check", "."]
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: ^src/
        args:
          - --rcfile=.pylintrc
          - --disable=import-error
      - id: pytest
        name: pytest
        entry: bash
        language: system
        pass_filenames: false
        args:
          - -lc
          - 'PYTHONPATH=src pytest -q'
      - id: sphinx-build
        name: sphinx docs build
        entry: python -m sphinx -b html docs _build/html
        language: system
        pass_filenames: false
        always_run: true

changes
  .gitignore
  recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  slurm/maxent-grpo.slurm
  src/maxent-grpo.py
Due: ruff, pylint

changes
  slurm/maxent-grpo.slurm
  slurm/train.slurm
Due: none

linting
  src/maxent_helpers/run_checkpoint.py
  src/maxent_helpers/run_helpers.py
  src/maxent_helpers/run_logging.py
  src/maxent_helpers/run_setup.py
  src/maxent_helpers/run_training_loss.py
  src/maxent_helpers/run_training_rewards.py
  tests/test_run_training_loss.py
  tests/test_run_training_state.py
  tests/test_zero_utils.py
Due: ruff, pylint

changes
  tests/test_config_recipes.py
  tests/test_configs_validation.py
  tests/test_core_data_hub.py
  tests/test_data.py
  tests/test_inference_math500.py
  tests/test_patches_trl.py
  tests/test_recipes.py
  tests/test_rewards_module.py
  tests/test_run_training_state.py
  tests/test_training_cli_eval.py
  tests/test_training_init.py
  tests/test_training_metrics_unit.py
Due: ruff

working docs
  Makefile
  docs/conf.py
  docs/getting-started.md
  docs/getting-started.rst
  docs/guides/evaluation.md
  docs/guides/evaluation.rst
  docs/guides/generation.md
  docs/guides/generation.rst
  docs/guides/training.md
  docs/guides/training.rst
  docs/recipes.md
  docs/recipes.rst
  src/maxent_grpo/training/generation/helpers.py
Due: ruff, pylint

fix github actions
  configs/constraints.txt
  configs/recipes/accelerate_configs/zero3.yaml
  configs/requirements-dev.txt
  perf_metrics.json
  setup.py
  src/maxent_grpo/training/scoring.py
  tests/test_generation_vllm_weight_sync_additional.py
  tests/test_training_generation_helpers_unit.py
  tests/test_vllm_patch_additional.py
  tools/perf_microbench.py
Due: ruff, pylint

gets to mapping
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  ops/sitecustomize.py
  src/maxent_grpo/core/data.py
  src/maxent_grpo/generate.py
  src/maxent_grpo/generation/vllm_distributed.py
  src/maxent_grpo/generation/vllm_requests.py
  src/maxent_grpo/grpo.py
  src/maxent_grpo/maxent_grpo.py
  src/maxent_grpo/training/__init__.py
  src/maxent_grpo/training/cli/__init__.py
  src/maxent_grpo/training/generation/vllm_adapter.py
  src/maxent_grpo/training/metrics.py
  src/maxent_grpo/training/pipeline.py
  src/maxent_grpo/training/runtime/deps.py
  src/maxent_grpo/training/scoring.py
  src/maxent_grpo/training/state.py
  tests/conftest.py
Due: ruff, pylint

changes
  ops/slurm/train.slurm
Due: none

changes
  ops/slurm/maxent-grpo.slurm
Due: none

Changes
  ops/slurm/maxent-grpo.slurm
  ops/slurm/train.slurm
Due: none

anoying wandb thiung
  src/maxent_grpo/training/__init__.py
Due: ruff, pylint

for sofiia
  ops/slurm/train.slurm
Due: none

working
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/accelerate_configs/zero3.yaml
Due: none

changes for Sofiia
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  ops/slurm/maxent-grpo.slurm
Due: none

changes
  configs/recipes/Llama3.1-8B-instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  src/maxent_grpo/pipelines/training/baseline.py
  src/maxent_grpo/pipelines/training/maxent.py
Due: ruff, pylint

changes
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
Due: none

sofiia fix
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  ops/slurm/maxent-grpo.slurm
Due: none

Changes
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  src/maxent_grpo/pipelines/training/baseline.py
Due: ruff, pylint

changes
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  ops/slurm/maxent-grpo.slurm
Due: none

changees
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  configs/recipes/accelerate_configs/zero3.yaml
  ops/slurm/maxent-grpo.slurm
Due: none

changes
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
Due: none

Changes
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
Due: none

changes
  ops/slurm/infer_math.slurm
  ops/slurm/inference_benchmark.sh
  src/maxent_grpo/cli/hydra_cli.py
Due: ruff, pylint

changes
  .github/workflows/pylint.yml
  .github/workflows/smoke.yml
  .pre-commit-config.yaml
  LICENSE
  configs/pyrightconfig.json
  configs/pytest.ini
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/infoseed/config_math.yaml
  configs/recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  configs/recipes/Qwen2.5-7B/grpo/config_math.yaml
  configs/recipes/Qwen2.5-7B/grpo/config_math_maxent_hparams.yaml
  configs/recipes/Qwen2.5-7B/infoseed/config_math.yaml
  configs/recipes/Qwen2.5-7B/maxent-grpo/config_math.yaml
  coverage.xml
  docs/_static/custom.css
  ops/tools/ensure_local_path.sh
  perf_metrics.json
  src/maxent_grpo/pipelines/inference/inference.py
  tests/test_training_generation_vllm_adapter_more.py
  tests/test_weighting_logic_branches.py
  tests/test_weighting_loss_additional.py
  tests/test_zero_utils_additional.py
Due: ruff, pylint

new script tools
  configs/recipes/Qwen2.5-1.5B-Instruct/grpo/config_math_maxent_hparams.yaml
  tools/run_maxent_1p5b.sh
Due: none
