Repository liv-daliberti/maxent-grpo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, pylint

ruff:
  name: ruff
  entry: ruff
  language: system
  args:
  - check
  - .

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc

changes
  .github/workflows/ci.yml
  Makefile
  README.md
  setup.py
  src/__pycache__/rewards.cpython-39.pyc
  src/configs.py
  src/rewards.py
  src/rewards_core.py
  src/utils/ioi/__pycache__/__init__.cpython-311.pyc
  src/utils/ioi/__pycache__/cf_scoring.cpython-311.pyc
  src/utils/ioi/__pycache__/code_patcher.cpython-311.pyc
  src/utils/ioi/__pycache__/ioi_scoring.cpython-311.pyc
  src/utils/ioi/__pycache__/ioi_utils.cpython-311.pyc
  src/utils/ioi/__pycache__/morph_client.cpython-311.pyc
  src/utils/ioi/__pycache__/piston_client.cpython-311.pyc
  src/utils/ioi/__pycache__/utils.cpython-311.pyc
  tests/conftest.py
  tests/test_evaluation.py
  tests/test_grpo_prompt.py
  tests/test_hub_utils.py
  tests/test_replay_buffer.py
  tests/test_replay_dataset.py
  tests/test_rewards.py
  tests/test_wandb_logging.py
Due: ruff, pylint

changes
  Makefile
  README.md
  src/generate.py
  tests/conftest.py
  tests/test_data.py
  tests/test_evaluation.py
  tests/test_generate.py
  tests/test_grpo_prompt.py
  tests/test_hub_utils.py
  tests/test_import_utils.py
  tests/test_model_utils.py
  tests/test_replay_buffer.py
  tests/test_replay_dataset.py
  tests/test_rewards.py
  tests/test_wandb_logging.py
Due: ruff, pylint

changes
  .condarc
  .github/workflows/ci.yml
  .pip/pip.conf
  .pre-commit-config.yaml
  .pylintrc
  .readthedocs.yaml
  Makefile
  README.md
  docs/api.rst
  setup.py
  src/__pycache__/configs.cpython-39.pyc
  src/__pycache__/generate.cpython-39.pyc
  src/configs.py
  src/generate.py
  src/utils/__pycache__/vllm_patch.cpython-39.pyc
  src/utils/hierarchical_rollout.py
  src/utils/hub.py
  src/utils/import_utils.py
  src/utils/model_utils.py
  src/utils/replay_dataset.py
  src/utils/vllm_patch.py
  tests/test_replay_dataset.py
  tests/test_vllm_patch.py
  tools/ensure_local_path.sh
  training.sh
Due: ruff, pylint

Cahnges
  README.md
  scripts/bootstrap_env.sh
  src/configs.py
  src/grpo.py
  src/rewards.py
  training.sh
Due: ruff, pylint

changes
  .condarc
  src/configs.py
  src/generate.py
  src/grpo.py
  src/rewards.py
  src/utils/hub.py
Due: ruff, pylint

changes
  README.md
  scripts/bootstrap_env.sh
  src/generate.py
  src/grpo.py
  src/utils/evaluation.py
  src/utils/hub.py
  src/utils/import_utils.py
  src/utils/model_utils.py
  src/utils/replay_buffer.py
  src/utils/vllm_patch.py
  src/utils/wandb_logging.py
  training.sh
Due: ruff, pylint

Add .gitignore
  .gitignore
Due: none

changes
  README.md
Due: none

changes
  .condarc
  .pip/pip.conf
  Makefile
  README.md
  scripts/bootstrap_env.sh
  training.sh
Due: none

changes
  Makefile
  training.sh
Due: none

changes
  src/generate.py
  src/rewards.py
  src/utils/__init__.py
  src/utils/hub.py
  src/utils/vllm_patch.py
Due: ruff, pylint

changes
  Makefile
  README.md
  docs/_static/README.txt
  docs/conf.py
  pytest.ini
  scripts/bootstrap_env.sh
  setup.py
  src/configs.py
  src/generate.py
  src/grpo.py
  src/rewards.py
  src/utils/__init__.py
  src/utils/data.py
  src/utils/hub.py
  src/utils/vllm_patch.py
  src/utils/wandb_logging.py
  tests/conftest.py
  tests/test_data.py
  tests/test_evaluation.py
  tests/test_generate.py
  tests/test_grpo_prompt.py
  tests/test_hub_utils.py
  tests/test_model_utils.py
  tests/test_rewards.py
  tests/test_vllm_patch.py
  tests/test_wandb_logging.py
Due: ruff, pylint

Changes
  docs/_static/custom.css
  docs/conf.py
Due: ruff

Changes
  docs/conf.py
Due: ruff

changes"
  README.md
  src/maxent-grpo.py
Due: ruff, pylint

changes
  .pre-commit-config.yaml
  README.md
  docs/conf.py
  recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  src/configs.py
  src/maxent-grpo.py
  tests/test_grpo_prompt.py
  tests/test_hub_utils.py
  tests/test_model_utils.py
  tests/test_vllm_patch.py
Due: ruff, pylint

changes
  .github/workflows/ci.yml
  .github/workflows/pylint.yml
  .github/workflows/pytest.yml
  .github/workflows/ruff.yml
  .github/workflows/sphinx.yml
Due: none

changes
  .github/workflows/pytest.yml
  docs/conf.py
  src/configs.py
  src/generate.py
  src/grpo.py
  src/maxent-grpo.py
  src/rewards.py
  src/utils/__init__.py
Due: ruff, pylint

Changes
  docs/api.rst
  docs/conf.py
  docs/getting-started.md
  docs/guides/evaluation.md
  docs/guides/generation.md
  docs/guides/training.md
  docs/index.rst
  docs/recipes.md
  docs/requirements.txt
  src/generate.py
  src/utils/data.py
  src/utils/evaluation.py
  src/utils/hub.py
  src/utils/model_utils.py
  src/utils/vllm_patch.py
  src/utils/wandb_logging.py
Due: ruff, pylint

Changes
  docs/conf.py
  src/configs.py
  src/generate.py
  src/rewards.py
  src/utils/__init__.py
  src/utils/evaluation.py
  src/utils/hub.py
Due: ruff, pylint

change
  docs/conf.py
  recipes/accelerate_configs/zero3.yaml
  setup.py
  slurm-25649503.out
  src/configs.py
  src/generate.py
  src/grpo.py
  src/maxent-grpo.py
  src/rewards.py
  src/utils/data.py
  src/utils/evaluation.py
  src/utils/hub.py
  src/utils/model_utils.py
  src/utils/vllm_patch.py
  src/utils/wandb_logging.py
  training.sh
Due: ruff, pylint

changes
  scripts/sbatch_training.sh
  slurm-25649503.out
  src/generate.py
  src/grpo.py
  src/maxent-grpo.py
  src/utils/evaluation.py
  src/utils/hub.py
  src/utils/model_utils.py
  src/utils/vllm_patch.py
  training.sh
Due: ruff, pylint

changes
  training.sh
Due: none

change
  README.md
  training.sh
Due: none

changes
  recipes/accelerate_configs/zero3.yaml
  scripts/sbatch_training.sh
  training.sh
Due: none

changes"
  training.sh
Due: none

changes
  README.md
  docs/getting-started.md
  docs/guides/training.md
  scripts/sbatch_training.sh
  training.sh
Due: none

changes
  .gitignore
  setup.py
  slurm/train.slurm
  training.sh
Due: ruff

working training
  slurm/train.slurm
  src/configs.py
Due: ruff, pylint

changes
  slurm/train.slurm
Due: none

changes
  src/grpo.py
  src/maxent-grpo.py
Due: ruff, pylint

configs for mltheory compute
  slurm/train.slurm
  src/grpo.py
Due: ruff, pylint

configs for mltheory compute
  slurm/train.slurm
Due: none

changes
  .pylint/src_1.stats
  recipes/Llama3.1-8B-instruct/grpo/config_math.yaml
  recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  recipes/Qwen2.5-7B-Instruct/grpo/config_math.yaml
  recipes/accelerate_configs/zero3.yaml
  slurm/train.slurm
  src/configs.py
  src/grpo.py
  src/maxent-grpo.py
  src/utils/__init__.py
  src/utils/hub.py
  src/utils/model_utils.py
  src/utils/trl_patches.py
Due: ruff, pylint

changes
  README.md
  docs/guides/training.md
  recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  src/grpo.py
  src/maxent-grpo.py
Due: ruff, pylint

changes
  recipes/Qwen2.5-1.5B-Instruct/grpo/config_math.yaml
  recipes/Qwen2.5-1.5B-Instruct/maxent-grpo/config_math.yaml
  src/configs.py
  src/grpo.py
  src/maxent-grpo.py
  src/utils/data.py
  tests/test_validation.py
Due: ruff, pylint

Path conditions:
  ruff: any of: \.py$
  pylint: any of: ^src/ and \.py$
